<h1>Create A Landmark</h1>
<hr />
<form method="POST" action="/landmarks">
<p>

   <label>Landmark Name: </label><input type="text" id="landmark_name" name="landmark[name]" /></p>
<p>


    <label>Landmark Year Completed: </label><input type="text" id="landmark_year_completed" name="landmark[year_completed]" /></p>

    <input type="submit" value="Create New Landmark" />
</form>
